[Desktop Entry]
Comment=
#Exec=/path/to/program/KeyboardLocker/klock.py
GenericName=Bloqueador de teclado
Icon=yast-keyboard
Categories=Utilities; Tools;
Name=KeyboardLocker
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
